paramiko==3.2.0
cryptography>=41.0.5,<43
xades==0.2.4
xmlsig==0.1.9
rlpycairo
phonenumbers
pyOpenSSL==24.0.0
packaging
zeep==4.2.0
pandas==2.2.1
pyncclient
xmltodict==0.13.0 
qifparse
debugpy>=1.6.6
watchdog>=2.1.0